[submodule "Angular 1&2 - Morning & Afternoon/first-angular-app"]
	path = Angular 1&2 - Morning & Afternoon/first-angular-app
	url = https://github.com/Prabakar19/first-angular-app
[submodule "React Native 1&2 - Morning & Afternoon/MoviesApp"]
	path = React Native 1&2 - Morning & Afternoon/MoviesApp
	url = https://github.com/Prabakar19/MoviesApp
[submodule "React Session 1&2 - Morning & Afternoon/sample-app"]
	path = React Session 1&2 - Morning & Afternoon/sample-app
	url = https://github.com/Prabakar19/sample-app
[submodule "Java Fundamentals - Morning/AU-Assignment-Basic-Java"]
	path = Java Fundamentals - Morning/AU-Assignment-Basic-Java
	url = https://github.com/Prabakar19/AU-Assignment-Basic-Java
