[submodule "Angular 1&2 - Morning & Afternoon/first-angular-app"]
	path = Angular 1&2 - Morning & Afternoon/first-angular-app
	url = https://github.com/Prabakar19/first-angular-app
[submodule "React Native 1&2 - Morning & Afternoon/MoviesApp"]
	path = React Native 1&2 - Morning & Afternoon/MoviesApp
	url = https://github.com/Prabakar19/MoviesApp
[submodule "React Session 1&2 - Morning & Afternoon/sample-app"]
	path = React Session 1&2 - Morning & Afternoon/sample-app
	url = https://github.com/Prabakar19/sample-app
[submodule "Java Fundamentals - Morning/AU-Assignment-Basic-Java"]
	path = Java Fundamentals - Morning/AU-Assignment-Basic-Java
	url = https://github.com/Prabakar19/AU-Assignment-Basic-Java
[submodule "Advance Java - Afternoon/AU_Advance_Java"]
	path = Advance Java - Afternoon/AU_Advance_Java
	url = https://github.com/Prabakar19/AU_Advance_Java
[submodule "Maven - Afternoon/demoWebApplication"]
	path = Maven - Afternoon/demoWebApplication
	url = https://github.com/Prabakar19/demoWebApplication
[submodule "Hibernate 1 & 2 - Morning & Afternoon/AU_Hibernate_Session"]
	path = Hibernate 1 & 2 - Morning & Afternoon/AU_Hibernate_Session
	url = https://github.com/Prabakar19/AU_Hibernate_Session
[submodule "Rest Services - Afternoon/AU_Spring-Rest-API"]
	path = Rest Services - Afternoon/AU_Spring-Rest-API
	url = https://github.com/Prabakar19/AU_Spring-Rest-API
[submodule "Spring MVC - Afternoon/AU-Spring-Boot--Demo"]
	path = Spring MVC - Afternoon/AU-Spring-Boot--Demo
	url = https://github.com/Prabakar19/AU-Spring-Boot--Demo
[submodule "Java Multithreading Concepts - Morning/AU_Multithreading_File"]
	path = Java Multithreading Concepts - Morning/AU_Multithreading_File
	url = https://github.com/Prabakar19/AU_Multithreading_File
